.container{
    /* display: flex;
    flex-direction: column; */
    padding: 5px 10px;
    margin: 0px 10px;
    max-width: 100%;
    height: 80%;
    border: 1px solid blue;
    /* box-sizing: border-box; */
}

.reciever{
    width: auto;
    /* text-align: start; */
    display: flex;
    justify-content: flex-start;
}

.sender{
    /* text-align: end; */
    width: auto;
    justify-content: flex-end;
    display: flex;
}

.message{
    margin: 5px 0px;
    padding: 0px 5px;
    max-width: 200px;
    border-radius: 15px;
    background-color: #ebebeb;
}

.send{
    border-top: 1px solid #ebebeb;
    text-align: right;
}