.main-container{
    display:  flex; 
    justify-content:  center; 
    align-items:  center; 
    height:  100vh;
    flex-direction: column;
    position: relative;
    /* background-color: blueviolet; */
    /* border: 3px solid black; */
}

.users-container{
    width: 35%;
    /* border: 1px solid black; */
    /* background-color: aqua; */
    box-shadow: 0 0 20px grey;
    border-radius: 20px;
    z-index: 100;
    background-color: white;
}

.line{
    border-bottom: 1px solid #aeb8b4;
    width: 100%;
    margin: 10px 0px;
}

.profile-pic-style{
    border-radius: 15px;
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 20px;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 10px 0px; 
    background-color: #f7f2f2;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.users-list{
    padding: 0px 30px;
    margin-bottom: 20px;
    list-style: none ;
    overflow-y: scroll ;
    height:  60vh ;
}

.link{
    text-decoration: none;
    color: black;
}

.custom-shape-divider-top-1622811132 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1622811132 svg {
    position: relative;
    display: block;
    width: calc(135% + 1.3px);
    height: 373px;
}

.custom-shape-divider-top-1622811132 .shape-fill {
    fill: blue;
}